html,
body {
  color: black;
  font-family: monospace;
  font-size: 35px;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  font-size: 18px;
  height: 3em;
  bottom: 0;
  clear: both;
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  max-width: 90%;
}

.mainContainer {
  height: 100%;
  width: 100;
}

.leftDiv {
  float: left;
  height: 500px;
  width: 280px;
  background-image: url("images/stickfigure.jpeg");
  height: 419px;
  width: 254px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black 4px;
  margin: 10px;
  margin-left: 100px;
}

#w1,
#w2,
#w3,
#w4,
#w5,
#w6 {
  background-color: blue;
  opacity: .80;
  height: 70px;
  width: 254px;
  visibility: hidden;
}

.rightDiv {
  /*  float: right;*/
  
  margin: 10px;
  max-width: 75%;
  position: relative;
  margin-left: 450px;
}
/*displays the topic & board*/

#theBoard,
#topic {
  background-color: white;
  color: black;
}

#theBoard {
  letter-spacing: 10px;
}

button {
  display: inline;
  background-color: black;
  color: white;
  margin: 5px;
  border: dotted white 1px;
  height: 40px;
  cursor: pointer;
}

div span {
  font-family: monospace;
  background-color: white;
  color: black;
  font-size: 18px;
  margin: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: black;
  list-style: none;
  text-align: center;
}

.letter {
  font-weight: bold;
  cursor: pointer;
}

.found {
  color: green;
}

.wrong {
  color: red;
}